@use "../core" as *;

.userInfoWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

  img {
    max-width: 260px;
    width: 100%;
  }

  .text {
    height: 260px;
    max-width: 260px;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    overflow-y: auto;

    @include mq("tablet-small") {
      height: 200px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}
